<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    style 
        include ../css/estilo_do_cadastro.css
    <link rel="stylesheet" href="../css/estilo_do_cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <main>
        <form action="/cadastro" method="post"id="formulario">
            <p><input type="text" name='nome' placeholder="Nome"></p>
            <p><input type="text" name='patente' placeholder="Patente"></p>
            <p><input type="text" name='nomeDeGuerra' placeholder="Nome de Guerra"></p>
            <p><label for="">Assunto</label> </p> 
            <p><textarea name="assunto" id="" cols="30" rows="10"></textarea></p>
            <p><button type="submit">Cofirmar</button></p> 
        </form>
    </main>
</body>
</html>